.reservationOverview {
    display: flex;
    flex-flow: wrap;
    gap: 48px;
    justify-content: center;
    padding-top: 24px;
}

.addBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3C3CC8 !important;
}

.plusIcon {
    box-shadow: 1px 1px 1px  #3C3CC8;
    border-radius: 50%;
}

.box {
    width: 300px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0 0 0 / 15%);
    padding: 24px;
    cursor: pointer;
}

.detailBox {
    display: flex;
}

p {
    margin: 0;
    padding: 0;
}

.reserverText {
    padding-top: 16px;
    font-size: 20px;
}

.timeTexts {
    padding-top: 4px;
}


.timeTexts p {
    color: #808080
}

.locationText {
    padding-top: 8px;
    font-weight: 500;
}

.reservationCreationView {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
}

.reservationForm {
    width: 400px;
    background: #fff;
    padding: 30px 50px 30px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0 0 0 / 10%);
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc
}

.submitButton {
    padding: 10px 20px;
    border-radius: 5px;
    background: #3C3CC8;
    color: #fff;
    border: none;
    cursor: pointer;
}